div.post.well
  h3
    a(href=post.url)
      = post.title
  span.date #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
  br
  br
  div.post.content
    != post.content
br
br
br
span.hide(itemprop="name") post.Title
span.hide(itemprop="description") post.preview
img.hide(itemprop="image", src='http://koush.com/images/clockworks512.png')