!!!
html(itemscope, itemtype="http://schema.org/Blog")
  head
    title Koush
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/combine.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src='/bootstrap/js/bootstrap-dropdown.js')
  body#body
    .wrap
      .container-fluid
        .row-fluid
          .span2.offset1
            br
            br
            br
            br
            br
            br
            br
            br
            ul.nav.nav-list.uppercase.text-right
              li.nav-header Projects
              li
                a(href='/AndroidAsync') AndroidAsync
              li
                a(href='/UrlImageViewHelper') UrlImageViewHelper
          .span7
            h3
              a.black(href='/') Koush
            br
            br
            block content
