!!!
html
  head
    title Koush
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/combine.css')
  body#body
    .wrap
      .container-fluid
        .row-fluid
          .span2.offset1
            br
            br
            br
            br
            br
            br
            br
            br
            ul.nav.nav-list.uppercase.text-right
              li.nav-header Projects
              li
                a(href='/AndroidAsync/') AndroidAsync
              li
                a(href='/UrlImageViewHelper/') UrlImageViewHelper
              li
                a poop
          .span7
            h3 Koush
            br
            br
            block content
